@{
    ViewData["Title"] = "About";
}
<p>
    My name is Rickey Galloway - I write code and use this blog to keep up with snippets and notes.

    <br />
    <a href="https://www.linkedin.com/in/rickeygalloway">LinkedIn Profile</a>
</p>
<p>
    <h4>Tools Used For This Site:</h4>
    <ul>
        <li>Hosted on Windows Azure</li>
        <li>.NET Core Framework</li>
        <li>MVC 6</li>
        <li>Entity Framework Core</li>
        <li>AngularJS 1.5</li>
        <li>Bootstrap</li>
        <li>Font-Awesome</li>
        <li>GitHub</li>
        <li>Visual Studio 2015 for development</li>
    </ul>

</p>