body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}



/*          MY STUFF    */
.one-box {background:#0079BF;box-sizing:border-box;width:100%;padding:10px}
.two-box {background:#FFAA4A;box-sizing:border-box;width:100%;padding:10px}
.three-box {background:#89B209;box-sizing:border-box;width:100%;padding:10px}
.four-box {background:#42548E;box-sizing:border-box;width:100%;padding:10px}
.five-box {background:#7FBA00;box-sizing:border-box;width:100%;padding:10px}
.six-box {background:#EB5A46;box-sizing:border-box;width:100%;padding:10px}



li.projects {
    list-style-type: none;
    padding-top: 25px;
}

h5 {
    font-weight: bold;
}

.header{
    background-color: #FFF8DC
}

img.projectImage {
    height: 200px;
    border: 1px solid #c3c3c3;
}

.currentProject {
    color: green;
}

.completedProject {
    color: red;
}